<form id='login' action='/login' method='POST'>
  <div class='detail'>
  Username: <input type="text" name="user[name]">
  </div>
  <div class='detail'>
  Password: <input type="password" name="user[password]">
  </div>
  <div class='detail'>
  <input type="submit">
  </div>
</form>
