body {
  width: 90%;
  font-family: Futura;
  background-color: #CDCDCD;
}

#content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 37em;
  position: relative;
  width: 61.8%;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 10px;
}

#welcome-page {
  text-align: center;
}

.auth {
  padding: 0.5em;
}

input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.detail {
  margin-bottom: 1em;
  margin-top: 1em;
}

#report-display {
  padding: 2em;
  text-align: center;
}

#calories {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.report-table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1em;
}
