* {
  /*border: 1px dotted blue;*/
}

body {
  width: 90%;
  font-family: Futura;
  background-color: #CDCDCD;
}

#content {
  margin: 0 auto;
  padding: 0 1em;
  padding-top: 2em;
  position: relative;
  width: 61.8%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#welcome-page {
  text-align: center;
}


#login-toolbar {
  height: 3em;
  padding-left: 1em;
}

#login-toolbar a {
  text-decoration: none;
  padding: 0.5em;
}

#login-toolbar a:last-child {
  float: right;
  margin-right: 0px;
  padding-right: 2em;
}

form#login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

form#signup {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.auth {
  padding: 0.5em;
}

input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.detail {
  margin-bottom: 1em;
  margin-top: 1em;
}

#report-display {
  padding: 2em;
  text-align: center;
}

#calories {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.report-table {
  margin: 0 auto;
}

.report-table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1em;
}
