<div id='welcome-page'>
  <h1>HOW MUCH SHOULD I EAT?</h1>

  <p>Welcome to How Much Should I Eat? (HMSIE).</p>
  <p>HMSIE is a place where you can figure out how much you should be eating in order to reach or maintain your target weight.</p>
  <div id='auth-buttons'>

    <form class='auth-login' action="/login">
      <input type="submit" value="Login">
    </form>

    <form class='auth-signup' action="/signup">
      <input type="submit" value="Signup">

    </form>
  </div>
</div>

<form id='login' action='/login' method='POST'>
  <h2>Login:</h2>
  <div class='detail'>
    Username: <input type="text" name="user[name]">
  </div>
  <div class='detail'>
    Password: <input type="password" name="user[password]">
  </div>
  <div class='detail'>
    <input type="submit">
  </div>
</form>


<form id='signup' action='/signup' method='POST'>
  <h2>Sign Up:</h2>
  <div class='detail'>
    Username: <input type="text" name="user[name]">
  </div>
  <div class='detail'>
      Male: <input type='radio' name='user[gender]'>
      Female: <input type='radio' name='user[gender]'>
  </div>
  <div class='detail'>
    Date of Birth: <input type='date' name='user[birthday]'>
  </div>
  <div class='detail'>
    Password: <input type="password" name="user[password]">
  </div>
  <div class='detail'>
    Confirm Password: <input type="password" name="user[password_confirmation">
  </div>
  <div class='detail'>
    <input type="submit">
  </div>
</form>