<div id='welcome-page'>
  <h1>HOW MUCH SHOULD I EAT?</h1>

  <p>Welcome to How Much Should I Eat? (HMSIE).</p>
  <p>HMSIE is a place where you can figure out how much you should be eating in order to reach or maintain your target weight.</p>

  <form class='auth' action="/login">
    <input type="submit" value="Login">
  </form>

  <form class='auth' action="/signup">
    <input type="submit" value="Signup">
  </form>

</div>
