<div class="report-landing">
  <p>Welcome to HOW MUCH SHOULD I EAT?  If you enter in some simple information below, we can tell you your Basal Metabolic Rate</p>
  <p>Your Basal Metabolic Rate (BMR) is the amount of energy expended while at rest in a neutrally temperate environment.  You can use this figure as an approximation to determine how many calories you should be consuming in a day to meet your ideal weight.</p>

   <button id='show-report-form'>
      Find your BMR.
   </button>

</div>


 <div id='create-report-page'>
  <form id='create-report' action='/reports' method='POST'>
    <div class='detail'>
        Male: <input type='radio' value='male' name='report[gender]'>
        Female: <input type='radio' value='female' name='report[gender]'>
    </div>
    <div class='detail'>
      Age: <input type="text" name="report[age]">
    </div>
    <div class='detail'>
      Height (cm): <input type="text" name="report[height]">
    </div>
    <div class='detail'>
      Weight (kg): <input type="text" name="report[weight]">
    </div>
    <div class='detail'>
      <input type="submit">
    </div>
  </form>
</div>

<div class="main-report-display">


</div>

<div class="weight-goal">
  <form id="enter-goal" action='/goals' method="POST">
    Goal Weight <input type="text">
    <input type="submit">
  </form>
</div>

