<form id='create-report' action='/reports' method='POST'>
  <div class='detail'>
    Gender: <input type='text' name="report[gender]">
  </div>
  <div class='detail'>
    Age: <input type="text" name="report[name]">
  </div>
  <div class='detail'>
    Height (meters): <input type="text" name="report[height]">
  </div>

  <div class='detail'>
    Weight (kg): <input type="text" name="report[weight]">
  </div>
  <div class='detail'>
    <input type="submit">
  </div>
</form>
