<form id='create-report' action='/reports' method='POST'>
  <div class='detail'>
      Male: <input type='radio' value='male' name='report[gender]'>
      Female: <input type='radio' value='female' name='report[gender]'>
  </div>
  <div class='detail'>
    Age: <input type="text" name="report[age]">
  </div>
  <div class='detail'>
    Height (cm): <input type="text" name="report[height]">
  </div>
  <div class='detail'>
    Weight (kg): <input type="text" name="report[weight]">
  </div>
  <div class='detail'>
    <input type="submit">
  </div>
</form>
