<div id="report-display">
<h1><%= @report.user.name %>'s Report on <%= @report.created_at %></h1>
<h3> to maintain your current weight, you should eat <%= @report.intake %> calories per day</h3>
</div>
